In [1]:
import pandas as pd

In [58]:
df=pd.read_csv('Data/survey_results_public.csv',index_col='Respondent')
schema_df=pd.read_csv('Data/survey_results_schema.csv',index_col='Column')

In [59]:
schema_df.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [33]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [35]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
df=pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [19]:
filt=(df['last']=='Schafer') | (df['first']=='John')

In [24]:
df.loc[~filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com

In [26]:

df.loc[~filt,'email']

1    JaneDoe@email.com
Name: email, dtype: object

In [27]:
df=pd.read_csv('Data/survey_results_public.csv',index_col='Respondent')
schema_df=pd.read_csv('Data/survey_results_schema.csv',index_col='Column')

In [34]:
countries=['India','Germany']
filt=df['Country'].isin(countries)

In [37]:
df.loc[filt,'Country']

Respondent
8          India
10         India
14       Germany
15         India
36       Germany
          ...
80319    Germany
83786    Germany
83862      India
84299      India
86012      India
Name: Country, Length: 14927, dtype: object

In [39]:
filt1=df['LanguageWorkedWith'].str.contains('Python',na=False)

In [40]:
df.loc[filt,'LanguageWorkedWith']

Respondent
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
10                           C#;Go;JavaScript;Python;R;SQL
14                                                     C++
15       Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...
36                                      Java;Kotlin;Python
                               ...
80319    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
83786                HTML/CSS;JavaScript;Kotlin;TypeScript
83862    Assembly;C;C++;HTML/CSS;Java;JavaScript;Object...
84299     HTML/CSS;Java;JavaScript;Python;Swift;TypeScript
86012        Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript
Name: LanguageWorkedWith, Length: 14927, dtype: object